@import "../components/media_breakpoints";
@import "../utils/variables";

@media screen and (max-width: 900px) {
    .feedback {
        form {
            .txtarea {
                width: 500px;
            }
        }
    }
    .info {
        &__wrapper {
            @include flex (flex, column, center, center);
            .card {
                width: 300px;
                @include flex (flex, row, flex-start, flex-start);
            }
        }
    }
}

@media screen and (max-width: 597px) {
    .feedback {
        form {
            .txtarea {
                width: 265px;
            }
        }
    }
}