@import "../base/reset";
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/extends";



body {
    overflow-y: auto;
    overflow-x: hidden;
}

.welcome_top {

    // ? slider elements
    .arrow_out {
        min-width: 60px;
        height: 60px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        opacity: 0.5;
        transition: .4s;
        &:hover {
            background-color: $red;
            opacity: 0.5;
            transition: .4s;
        }
    } 
    .arrow_out_left {
        margin-left: 100px;
    }
    .arrow_out_right {
        margin-right: 100px;
    }

    margin-top: -115px;

    .mainTop {
        height: 100vh;

        &__wrapper {
            height: 100vh;
            @include flex(flex, column, center, center);

            span {
                @include span (white, 60px);
                margin-bottom: 15px;
                transition: .3s
            }

            h1 {
                @include h2 (white, 90px);
                letter-spacing: 10px;
                line-height: 80px;
                margin-bottom: 37px;
                transition: .3s;
            }

            button {
                font-size: 12px;
                font-family: $font-montserrat;
                background-color: white;
                color: $red;
                width: 135px;
                height: 40px;
                border-radius: 10px;
                border: none;
                transition: .5s;
                margin-bottom: 20px;

                &:hover {
                    background-color: $red;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    .mainTop1 {
        @include bg('https://preview.colorlib.com/theme/pato/images/master-slides-01.jpg.webp');
    }

    .mainTop2 {
        @include bg('https://preview.colorlib.com/theme/pato/images/master-slides-02.jpg.webp');
    }

    .mainTop3 {
        @include bg('https://preview.colorlib.com/theme/pato/images/master-slides-03.jpg.webp');
    }
}

.welcome {
    width: 100%;
    background-color: #F1F1F1;
    padding-top: 120px;
    padding-bottom: 105px;

    &__unit {
        width: 100%;
        @include flex(flex, row, center, center);
        .box {
            width: 600px;
            height: 420px;
            padding: 45px 15px 30px;

            span {
                @include span;
            }

            h2 {
                @include h2;
                margin: 5px 0 35px;
            }

            p {
                margin: 0 28px 22px;
                color: $gray;
                text-align: center;
                font-size: 15px;
                line-height: 1.7;
            }

            a {
                @extend %a;
                text-align: center;
            }
        }

        .box-img {
            width: 600px;
            height: 420px;
            padding: 0 15px 85px;
            @include flex(flex, row, center, flex-start);

            div {
                width: 390px;
                height: 390px;
                overflow: hidden;
                border-radius: 20px;

                img {
                    width: 390px;
                    height: 390px;
                    transition: .3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.wrapper {
    height: 392px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    perspective: 10px;

    .pato {
        @include bg ('https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg.webp');
        position: relative;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transform-style: preserve-3d;
        z-index: -1;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
            transform: translateZ(-10px) scale(2)
        }

        .txt {
            span {
                @include span;
                z-index: 1;
            }

            h2 {
                @include h2(white);
                z-index: 1;
            }
        }
    }
}


.advantages {
    padding-top: 77px;
    padding-bottom: 133px;
    width: 100%;
    background-color: #FFFFFF;

    &__unit {
        @include flex(flex, row, center, center);
        gap: 30px;

        .card {
            padding-top: 30px;
            max-width: 370px;

            .img {
                width: 370px;
                height: 219px;
                overflow: hidden;
                border-radius: 20px;

                img {
                    width: 370px;
                    height: 219px;
                    transition: .5s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .descr {
                padding-top: 30px;

                h3 {
                    color: $black-3;
                    margin-bottom: 13px;
                    font-size: 22px;
                    font-family: $font-poppins;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

                p {
                    margin-bottom: 20px;
                    font-size: 15px;
                    color: $gray
                }

                a {
                    @extend %a;
                    text-align: start;
                }
            }
        }
    }
}


.menu {
    background-color: #F4F1EB;
    width: 100%;
    padding: 115px 0 120px;

    span {
        @include span;
    }

    h2 {
        @include h2;
        margin-top: 2px;
        margin-bottom: 22px;
        letter-spacing: 10px;
        font-weight: 800;
    }

    .parent {
        img {
            object-fit: cover;
        }
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(6, 1fr));
        // grid-column-gap: 30px;
        // grid-row-gap: 20px;
        gap: 25px;

        .div3 {
            grid-area: 1 / 5 / 3 / 7;
            overflow: hidden;
            position: relative;
            width: 370px;
            height: 231px;

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: none;
                padding: 17px 30px;
                font-size: 22px;
                font-family: $font-poppins;
                font-weight: 500;
                font-size: 22px;
                color: #333333;
                text-transform: uppercase;
                letter-spacing: 3px;
                border-radius: 10px;
                opacity: 0.9;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #ec1d25;
                    color: white;
                }
            }

            img {
                transition: .3s;
                width: 370px;
                height: 231px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .div4 {
            grid-area: 3 / 5 / 5 / 7;
            overflow: hidden;
            position: relative;
            width: 370px;
            height: 231px;
            transform: scale(1);

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: none;
                padding: 17px 30px;
                font-size: 22px;
                font-family: $font-poppins;
                font-weight: 500;
                font-size: 22px;
                color: #333333;
                text-transform: uppercase;
                letter-spacing: 3px;
                border-radius: 10px;
                opacity: 0.9;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #ec1d25;
                    color: white;
                }
            }

            img {
                transition: .3s;
                width: 370px;
                height: 231px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .div1 {
            grid-area: 1 / 1 / 5 / 3;
            overflow: hidden;
            position: relative;
            width: 370px;
            height: 492px;
            transform: scale(1);

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: none;
                padding: 17px 30px;
                font-size: 22px;
                font-family: $font-poppins;
                font-weight: 500;
                font-size: 22px;
                color: #333333;
                text-transform: uppercase;
                letter-spacing: 3px;
                border-radius: 10px;
                opacity: 0.9;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #ec1d25;
                    color: white;
                }
            }

            img {
                transition: .3s;
                width: 370px;
                height: 492px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .div2 {
            grid-area: 1 / 3 / 5 / 5;
            overflow: hidden;
            position: relative;
            height: 492px;
            width: 370px;
            transform: scale(1);

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: none;
                padding: 17px 30px;
                font-size: 22px;
                font-family: $font-poppins;
                font-weight: 500;
                font-size: 22px;
                color: #333333;
                text-transform: uppercase;
                letter-spacing: 3px;
                border-radius: 10px;
                opacity: 0.9;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #ec1d25;
                    color: white;
                }
            }

            img {
                transition: .3s;

                &:hover {
                    transform: scale(1.1);
                }

                width: 370px;
                height: 492px;
            }
        }

        .div5 {
            grid-area: 5 / 1 / 7 / 5;
            overflow: hidden;
            position: relative;
            transform: scale(1);

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: none;
                padding: 17px 30px;
                font-size: 22px;
                font-family: $font-poppins;
                font-weight: 500;
                font-size: 22px;
                color: #333333;
                text-transform: uppercase;
                letter-spacing: 3px;
                border-radius: 10px;
                opacity: 0.9;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #ec1d25;
                    color: white;
                }
            }

            img {
                transition: .3s;
                width: 770px;
                height: 231px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .div6 {
            grid-area: 5 / 5 / 7 / 7;
            overflow: hidden;
            position: relative;
            transform: scale(1);

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: none;
                padding: 17px 30px;
                font-size: 22px;
                font-family: $font-poppins;
                font-weight: 500;
                font-size: 22px;
                color: #333333;
                text-transform: uppercase;
                letter-spacing: 3px;
                border-radius: 10px;
                opacity: 0.9;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #ec1d25;
                    color: white;
                }
            }

            img {
                transition: .3s;
                width: 370px;
                height: 231px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.events {
    width: 100%;
    padding: 115px 0 208px;
    padding-right: 20px;
    padding-left: 50px;
    @include bg('https://preview.colorlib.com/theme/pato/images/bg-event-01.jpg.webp');

    .titleTop {
        @include span
    }

    h2 {
        @include h2(white);
        margin-bottom: 60px;
    }

    &__wrapper {
        @include flex(flex, row, center, center);
        width: 100%;

        .img {
            @include bg('https://preview.colorlib.com/theme/pato/images/event-02.jpg.webp');
            width: 585px;
            height: 390px;
            position: relative;

            div {
                width: 390px;
                height: 50px;
                transform-origin: center center;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%) rotateZ(90deg);
                background-color: $red;
                color: rgb(50, 47, 47);
                font-size: 12px;
                @include flex(flex, row, center, center);
                letter-spacing: 2px;
            }
        }

        .typog {
            width: 585px;
            background-color: white;
            padding: 45px 40px 30px;

            h4 {
                margin-top: 30px;
                margin-bottom: 10px;
                font-family: $font-poppins;
                font-weight: 500;
                font-size: 22px;
                line-height: 1.2;
                color: $black-2;
                text-transform: uppercase;
                letter-spacing: 3px;
                text-align: center;
            }

            p {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.7;
                color: $gray;
                margin: 0px;
                text-align: center;
            }

            a {
                @extend %a;
                margin-top: 40px;
            }

            .timer {
                margin-top: 55px;
                background-color: white;

                &__items {
                    width: 505px;
                    @include flex(flex, row, space-around, center);

                    .timer__item {
                        width: 70px;
                        @include h2 ($color: $red);
                        font-weight: 600;
                    }
                }

                &__periods {
                    font-size: 12px;
                    font-family: $font-montserrat;
                    color: $gray;
                    @include flex(flex, row, space-around, center);

                    span {
                        text-align: center;
                        width: 70px;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}

.reservation {
    background-color: #EFEFEF;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 110px;

    .unit {
        @include flex (flex, row, center, center);

        .box1 {
            width: 600px;
            padding: 0 15px 30px;

            span {
                @include span;
            }

            h2 {
                @include h2;
                letter-spacing: 6px;
                line-height: 1.2;
            }

            form {
                .form_wrapper {
                    @include flex(flex, row, space-between, center);
                    width: 100%;

                    .column {
                        label {
                            font-size: 15px;
                            color: #555;
                        }

                        input {
                            margin: 3px 0 23px;
                            padding-right: 15px;
                        }

                        input,
                        select {
                            @extend %input;
                            width: 266px;
                            height: 46px;
                            border: 1px solid rgb(188, 188, 188);
                            margin: 3px 0 23px;
                        }

                        select {
                            padding-right: 10px;
                            appearance: none;
                            background: url('/assets/font-awesome-4.7.0/svg/down-arrow\ \(1\).png') no-repeat right, white;
                            background-size: 20px;
                            background-position-x: calc(100% - 15px);
                        }
                    }
                }

                button {
                    display: block;
                    margin: 0 auto;
                    width: 150px;
                    height: 40px;
                    background-color: #111;
                    color: white;
                    border-radius: 10px;
                    border: none;
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 1.1;
                    text-transform: uppercase;
                    transition: .3s;
                    cursor: pointer;
                    margin-top: 10px;

                    &:hover {
                        background-color: $red;
                    }
                }
            }
        }

        .box2 {
            @include flex(flex, row, center, flex-start);
            width: 600px;
            padding: 18px 15px 30px;

            .img {
                width: 390px;
                height: 390px;
                overflow: hidden;
                border-radius: 20px;

                img {
                    width: 390px;
                    height: 390px;
                    transition: 0.4s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


.review {
    width: 100%;
    padding-top: 115px;
    padding-bottom: 140px;
    background-color: #fff;

    span {
        @include span;
    }

    h2 {
        @include h2;
        letter-spacing: 11px;
        line-height: 1.2;
    }

    .paragraph {
        margin: 0 auto;
        text-align: center;
        color: $gray;
        font-size: 18px;
        margin-top: 30px;
        line-height: 1.7;
        font-weight: 400;
    }

    .whoyouare {
        font-weight: 400;
        font-size: 12px;
        color: #222222;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 32px;
    }

    .stars {
        @include flex (flex, row, center, center);
        margin-top: 15px;

        i {
            font-size: 16px;
        }
    }

    .circle {
        margin: 0 auto;
        margin-top: 50px;
        width: 117px;
        height: 117px;
        border-radius: 50%;
        border: 5px $red solid;
        @include flex(flex, row, center, center);

        img {
            width: 109px;
            height: 109px;
            border-radius: 50%;
        }
    }
}

.video {
    width: 100%;
    height: 720px;
    @include bg('https://preview.colorlib.com/theme/pato/images/bg-cover-video-02.jpg.webp');
    background-attachment: fixed;

    .video_wrapper {
        background: #0000006d;
        height: 100%;
        padding: 225px 0 230px;
        width: 100%;

        span {
            @include span;
        }

        h2 {
            margin-top: 5px;
            @include h2(white);
            word-spacing: 6px;
            letter-spacing: 10px;
            letter-spacing: 10px;
        }

        .circle {
            margin: 0 auto;
            margin-top: 43px;
            width: 70px;
            height: 70px;
            background-color: white;
            border-radius: 50%;
            @include flex(flex, row, center, center);
            transition: .4s;
            cursor: pointer;

            &:hover {
                background-color: $red;
                opacity: 0.7;
                transform: scale(1.2);
            }

            &:hover i {
                color: white;
            }

            i {
                font-size: 16px;
                color: black;
                margin-left: 3px;
                transition: .3s;
            }
        }
    }
}

.news {
    width: 100%;
    padding-top: 115px;
    padding-bottom: 120px;
    background-color: #FFFFFF;

    .titleTop {
        @include span;
    }

    h2 {
        @include h2;
        margin-bottom: 30px;
    }

    &__unit {
        @include flex(flex, row, center, center);
        gap: 30px;

        .card {
            padding-top: 30px;
            max-width: 370px;
            position: relative;

            .img {
                width: 370px;
                height: 219px;
                overflow: hidden;
                border-radius: 20px;

                .stick {
                    position: absolute;
                    top: 220px;
                    z-index: 999;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 3px 15px;
                    font-weight: 400;
                    font-size: 12px;
                    color: white;
                    border-radius: 4px;
                    left: 14px;
                }

                img {
                    width: 370px;
                    height: 219px;
                    transition: .5s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .descr {
                padding-top: 30px;
                text-align: start;
                h3 {
                    color: $black-3;
                    margin-bottom: 13px;
                    font-size: 22px;
                    font-family: $font-poppins;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

                p {
                    margin-bottom: 20px;
                    font-size: 15px;
                    color: $gray;
                    line-height: 1.7;
                }

                a {
                    @extend %a;
                    display: inline-block;
                }
            }
        }
    }
}

.specialsSignUp {
    width: 100%;
    background-color: #EFEFEF;
    padding: 85px 0;

    form {
        @include flex(flex, row, center, center);
        gap: 20px;

        label {
            font-family: Poppins;
            font-weight: 500;
            font-size: 22px;
            color: #333333;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        input {
            @extend %input;
            background: url('/assets/font-awesome-4.7.0/svg/envelope.png') no-repeat right;
            background-size: 15px;
            background-position-x: calc(100% - 15px);
            color: #666666;
            padding-right: 15px;
            width: 266px;
            height: 46px;
            outline: none;
            border: 1px solid rgba(128, 128, 128, 0.47);
        }

        button {
            background-color: #111;
            width: 160px;
            height: 40px;
            color: white;
            border: none;
            border-radius: 10px;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background: $red;
                color: white;
            }
        }
    }
}