@import "../components/media_breakpoints";
@import "../utils/variables";

@include desktop () {
    footer {
        .wrapper {
            .card {
                ul {
                    width: 270px;
                }
            }
        }
    }
}

@include mobile () {
    footer {
        .wrapper {
            .card {
                width: 320px;
                .parent {
                    display: none;
                }
            }
        }
    }
    .footer_bottom {
        padding-right: 30px;
        padding-left: 30px;
        .unit {
            p {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 924px) {
    footer {
        .wrapper {
            @include flex(flex, column, flex-start, center);
        }
    }
}

