$red: #d61c22;
$black-2: #222;
$black-3: #333;
$gray: #666;
$font-montserrat: "Montserrat", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-courgette: "Courgette", cursive;

$breackpoint_xxl: 1200px;
$breackpoint_xl: 1024px;
$breackpoint_md: 767px;
$breackpoint_sm: 576px;
$breackpoint_i: 390px;